#g-bottom {
    background: $bottom-background;
    color: $bottom-text-color;

    .g-content, .g-particle {
        height: 100%;
    }
}

@media print {
    #g-bottom {
        background: #fff !important;
        color: #000 !important;
    }
}
