// Content Block Spacing Variables
$content-margin:            0.625rem !default;
$content-padding:           1.5rem !default;

$section-padding:           3rem;
$border-radius:             0.4rem;

// Side Column
$sidecolumn-min-width:      150px !default;
