.g-promo {
   @include display(flex);
   @include justify-content(center);
   background-size: cover;
   background-repeat: no-repeat;
   @include align-items(center);
   height: 100%;
   padding: $content-padding * 2;
   color: $white;
   @include responsive-font($responsive-font-size + 1.5, $core-font-size + 1, false, false);
   font-weight: $font-weight-bold;
   text-align: center;
}
