.g-simplemenu-particle {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);

    @include breakpoint(mobile-only) {
        @include flex-direction(column);
    }

    .g-simplemenu-container {
        @include breakpoint(mobile-only) {
            text-align: center;

            &:not(:first-child) {
                h6 {
                    margin-top: ($content-margin * 2);
                }
            }
        }

        h6 {
            margin: 0 0 ($content-margin + 0.25);
            color: $white;
            font-size: $core-font-size - 0.1;
            font-weight: $font-weight-bold;

            @include breakpoint(mobile-only) {
                margin: 0 0 ($content-margin * 2);
            }
        }

        .g-simplemenu {
            list-style: none;
            margin: 0;
            font-weight: $font-weight-medium;
            font-size: $core-font-size;

            @include breakpoint(mobile-only) {
                margin: 0 0 ($content-margin * 2);
            }

            li {
                padding: ($content-margin - 0.35) 0;
                font-size: ($core-font-size + 0.1);
                font-weight: $font-weight-semibold;

                a {
                    color: lighten($grey, 10%);
                    @include transition(all 250ms);

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}
