.g-simplecontent {
    h2.g-title {
        padding: 0 0.6rem;
        margin: 0;
        display: inline-block;
        color: $base-text-color;
        @include responsive-font($responsive-font-size, $core-font-size, false, false);
        font-weight: $font-weight-semibold;
        letter-spacing: 5px;
        border-radius: $border-radius;
        text-align: center;
        text-transform: uppercase;
    }

    .g-simplecontent-item-created-date {
        font-size: $core-font-size - 0.2;
        text-transform: uppercase;
    }

    .g-simplecontent-layout-header {
        width: 50%;
        padding: $content-padding * 3 0;
        padding-bottom: 0;

        @include breakpoint(mobile-only) {
            width: 100%;
        }

        .g-simplecontent-item-content-title {
            @include responsive-font($responsive-font-size + 2.5, $core-font-size + 1.3, false, false);
            display: inline-block;
            padding: $content-margin;
            font-weight: $font-weight-medium;
            margin: 0;
            color: $white;
            border-radius: 5px;
        }

        .g-simplecontent-item-leading-content {
            padding: $content-margin - 0.1;
            line-height: $core-line-height + 0.2;
            border-radius: 5px;

            @include breakpoint(mobile-only) {
                width: 100%;
            }
        }

        @include breakpoint(tablet-range) {
            padding: 0;
        }

        @include breakpoint(mobile-only) {
            padding: 0;
            text-align: center;
        }
    }

    .g-simplecontent-item-content-title {
        @include responsive-font($responsive-font-size + 0.2, $core-font-size + 0.2, false, false);
        margin: ($content-margin - 0.1) 0;
        font-weight: $font-weight-semibold;
        line-height: $core-line-height - 0.5;

        .g-simplecontent-layout-header & {
            font-size: $h1-font-size;
            font-weight: $font-weight-light;
            line-height: $core-line-height;

            @include breakpoint(desktop-range) {
                font-size: $core-font-size + 1.75;
            }

            @include breakpoint(tablet-range) {
                font-size: $core-font-size + 1.5;
            }

            @include breakpoint(mobile-only) {
                font-size: $core-font-size + 1;
            }
        }
    }

    .g-simplecontent-item-author {
        font-size: $core-font-size - 0.1;
        font-weight: $font-weight-bold;
        margin-bottom: $content-margin;
    }

    .g-simplecontent-item-leading-content {
        @extend .g-lead;
        margin-bottom: $content-margin;
        font-weight: $font-weight-regular;
        @include responsive-font($responsive-font-size, $core-font-size, false, false);

        .g-simplecontent-layout-header & {
            font-size: $core-font-size + 0.9;
        }

        .g-simplecontent-link {
            display: block;
            color: $white;
            &:hover {
                text-decoration: underline;
                opacity: .7;
            }

        }
    }

    .g-simplecontent-item-main-content {
        @include responsive-font($responsive-font-size + 0.3, $core-font-size, false, false);
        margin: ($content-margin + $content-padding) 0;

        .g-simplecontent-layout-header & {
            font-size: $core-font-size;
            margin-bottom: $content-margin * 2;
        }
    }

    .g-simplecontent-item-readmore-container {
        font-weight: $font-weight-semibold;

        .g-simplecontent-layout-header & {
            font-size: $core-font-size;
        }
    }

    .g-simplecontent-item-author,
    .g-simplecontent-item-created-date {
        .g-simplecontent-layout-header & {
            display: inline-block;
            margin: 0;
            padding-right: $content-padding;
            font-family: get-font-family($font-family-default);
            font-weight: $font-weight-light;
            font-size: $core-font-size + 0.15;
            line-height: $core-line-height + 0.5;
            text-transform: none;
        }
    }
}
