.g-timeline {
    .g-timeline-title {
        position: relative;
        font-weight: $font-weight-bold;
        font-size: $core-font-size;
        margin-left: $content-margin;
    }

    .swiper-container-timeline {
        overflow: hidden;
    }

    .g-timeline-wrapper {
        @include display(flex);
        padding: $content-padding * 3 0;

        .spacer {
            padding: 0 $content-margin / 3;
        }

        .g-item-title {
            @include responsive-font($responsive-font-size + .2, $core-font-size - .1, false, false);
            padding: $content-padding;
            position: relative;
            border-radius: 4px;
            border: 1px solid inherit;
            margin: 0;
            font-weight: $font-weight-bold;

            span {
                @include responsive-font($responsive-font-size, $core-font-size - .2, $core-font-size, false);
                display: block;
                font-weight: $font-weight-regular;
            }

            a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: block;
                z-index: 2;
            }
        }

        .odd {
            .g-timestamp {
                width: 100%;
                position: relative;
                //min-height: 120px;
                top: 20px;
                @include display(flex);
                @include flex-direction(row);
                @include align-items(flex-start);
                @include justify-content(center);
                font-weight: 100;
            }

            .g-status {
                padding: 0px 40px;
                //min-height: 120px;
                @include display(flex);
                position: relative;
                @include flex-direction(column);
                @include justify-content(flex-end);
                @include align-items(center);
                border-bottom: 2px solid #E5E5E5;
                position: relative;
                transition: all 200ms ease-in;

                .g-item-title {
                    background: transparentize($accent-color-2, 80%);
                    bottom: $content-margin * 2;
                    border-bottom: 2px solid transparentize($accent-color-2, 80%);
                }

                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    z-index: 10;
                    border-radius: 50%;
                    background-color: #E5E5E5;
                    bottom: -5px;
                }
            }
        }

        .even {
            .g-timestamp {
                width: 100%;
                //min-height: 120px;
                @include display(flex);
                @include flex-direction(row);
                @include align-items(flex-end);
                @include justify-content(center);
                font-weight: 100;
                position: relative;
                bottom: 20px;
            }

            .g-status {
                padding: 0px 40px;
                //min-height: 120px;
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(flex-start);
                @include align-items(center);
                border-top: 2px solid #E5E5E5;
                position: relative;
                transition: all 200ms ease-in;

                .g-item-title {
                    background: transparentize($accent-color-1, 80%);
                    top: $content-margin * 2;
                    border-bottom: 2px solid transparentize($accent-color-1, 80%);
                }

                &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    z-index: 10;
                    border-radius: 50%;
                    background-color: #E5E5E5;
                    top: -5px;
                }
            }
        }
    }
}
